In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('World Population.csv')
df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [3]:
#CONVERT THE COLUMNS FOR YEAR TO ROWS 
df = df.melt(id_vars=["Country Name", "Country Code","Indicator Name","Indicator Code"], var_name="Date1", value_name="Population")

In [4]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,Date1,Population
0,Aruba,ABW,"Population, total",SP.POP.TOTL,1960,54208.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,1960,130836765.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,1960,96396419.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,1960,5454938.0
...,...,...,...,...,...,...
16221,Kosovo,XKX,"Population, total",SP.POP.TOTL,2020,1775378.0
16222,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,2020,29825968.0
16223,South Africa,ZAF,"Population, total",SP.POP.TOTL,2020,59308690.0
16224,Zambia,ZMB,"Population, total",SP.POP.TOTL,2020,18383956.0
16225,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,2020,14862927.0

In [5]:
# Create the CSV File 
df.to_csv('Population_Trend.csv')